<vlad xmlns:vlad="sapia:vlad">
  <ruleSet id="checkHelloWorld">
    <vlad:groovy>
      <message value="Expected 'Hello World'" />
      if(!context.get().equals("Hello World")){
        def status = context.getStatus();
        status.error(this);
      }
    </vlad:groovy>
  </ruleSet>
</vlad>     
