.content-box { 
    margin-left: 20px; 
    margin-top: 20px; 
    float: left; 
    width: 200; 
    border-style: dotted; 
    border-width: 1px; 
    padding: 5px;
}

.content-box-title{
  background-color: #757575; 
  color: white; 
  font-size: 18px; 
  padding: 8px;
  margin-bottom: 5px;
}

.content-box .text{
  color: black;
  font-size: 12px;
}
