<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  <display-name>Monitor</display-name>

  <servlet>
    <servlet-name>monitor</servlet-name>
    <display-name>Monitor</display-name>
    <servlet-class>org.sapia.soto.ubik.monitor.servlet.MonitorServlet</servlet-class>
    
    <init-param>
      <param-name>config-resource</param-name>
      <param-value>file:${user.dir}/webapp/WEB-INF/soto/services.xml</param-value>      
    </init-param>
    
    <init-param>
      <param-name>monitor-service-id</param-name>
      <param-value>monitor</param-value>      
    </init-param>    
    
    <load-on-startup>1</load-on-startup>        
  </servlet>
	
  <servlet-mapping>
    <servlet-name>monitor</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
