<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <display-name>XFire Example</display-name>

  <filter>
    <filter-name>wsdl-transform</filter-name>
    <filter-class>org.sapia.soto.xfire.WsdlToHtmlFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>wsdl-transform</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>xfire</servlet-name>
    <display-name>Soto XFire Servlet</display-name>
    <servlet-class>org.sapia.soto.xfire.SotoXFireServlet</servlet-class>

    <init-param>
      <param-name>soto-config-resource</param-name>
      <param-value>soto/services.xml</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>xfire</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>



</web-app>
