<soto:app xmlns:soto="sapia:soto" xmlns:mq="soto:activemq">

  <soto:service>
    <mq:broker persistent="false" brokerName="server" useJmx="false">

      <!--persistenceFactory>
        <mq:journaledJDBC useJournal="true" journalLogFiles="5" dataDirectory="activemq-data" />
        </persistenceFactory-->
      <!--persistenceAdapter>
        <soto:new class="org.apache.activemq.store.kahadaptor.KahaPersistenceAdapter">
        <arg><soto:file name="activemq-data" create="true" /></arg>
        <maxDataFileLength>33554432</maxDataFileLength>
        </soto:new>
        </persistenceAdapter-->
      <persistenceAdapter>
        <mq:memoryPersistence />
      </persistenceAdapter>
      <connector>
        <mq:transportConnector>
          <uri>
            <!--soto:uri value="tcp://localhost:0" /-->
            <soto:uri value="tcp://localhost:61616" />
          </uri>
          <discoveryUri>
            <soto:uri value="multicast://default" />
          </discoveryUri>
        </mq:transportConnector>
      </connector>
      <networkConnector>
        <soto:uri value="multicast://default" />
      </networkConnector>
    </mq:broker>
  </soto:service>

</soto:app>